html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 1.6;
  background: radial-gradient(closest-side, #baefda, #faeb) no-repeat center;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100vh;
  width: 100vw;
}

.test {
  background-color: red;
  color: white;
  border: 0;
  padding: 0;
  height: 45px;
  width: 98px;
  cursor: pointer;
}

/* the container styles */

.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 0.5fr 0.5fr repeat(4, 2fr);
  grid-gap: 3px;
}

/* container styles ends here */

/* the header style */

header {
  grid-column: 1 / -1;
  text-align: center;
  color: #324bce;
  -webkit-box-shadow: 0 4.7px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0 4.7px 2px rgba(0, 0, 0, 0.25);
  margin-top: -15px;
  padding: 0;
}

/* header styles ends here */

/* the info styles */

.info {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
  justify-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* info style ends here */

/* timer styles */

.timer {
  grid-column: 2;
  grid-row: 1;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
}

.timer #time {
  font-family: 'Orbitron', sans-serif;
}

/*timer ends */

/* stars starts */

.stars {
  grid-column: 1 / span 2;
  color: gray;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  justify-items: space-evenly;
}

.checked {
  color: #324bce;
}

.stars div {
  grid-column: 1 / span 3;
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: flex-end;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.stars .progress {
  color: #000;
  font-weight: bold;
  padding-left: 8px;
  grid-column: 4 / -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.progress .moves {
  margin-right: 4px;
}

/* stars ends */

/* repeat game styles */

.reset {
  grid-column: 3;
  grid-row: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: flex-start;
  cursor: pointer;
  padding: 0.29em;
  margin-left: 12px;
  margin-bottom: 9px;
  border-radius: 50%;
  color: #fff;
  background-color: #324bce;
}

/* repeat ends here */

/* card wrapper styles starts here */

#card-wrapper {
  grid-column: 1 / -1;
  grid-row: 3 / -1;
  justify-self: center;
  width: 65%;
  display: grid;
  grid-template-columns: repeat(4, minmax(3em, 150px));
  grid-gap: 15px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-shadow: 3px -5px 3px rgba(0, 0, 0, 0.25), 3px 5px 2px rgba(0, 0, 0, 0.25), -3px 3px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 3px -5px 3px rgba(0, 0, 0, 0.25), 3px 5px 2px rgba(0, 0, 0, 0.25), -3px 3px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 3px;
  padding: 30px;
  border-radius: 14px;
}

@media screen and (min-width: 1080px) {
  #card-wrapper {
    max-width: 60%;
    grid-gap: 25px;
  }
}

@media screen and (max-width: 1000px) {
  #card-wrapper {
    width: 75%;
  }
  #summary {
    min-width: 55%;
  }
}

@media screen and (max-width: 886px) {
  #card-wrapper {
    width: 80%;
  }
}

@media screen and (max-width: 780px) {
  #card-wrapper {
    width: 82%;
    max-height: 75%;
  }
  #summary {
    min-width: 65%;
  }
}

@media screen and (max-width: 680px) {
  #card-wrapper {
    max-height: 79%;
  }
  header h1 {
    font-size: 1.8em;
    padding-top: 1.5px;
  }
}

@media screen and (max-width: 620px) {
  #card-wrapper {
    max-height: 70%;
  }
}

@media screen and (max-width: 580px) {
  #card-wrapper {
    width: 85%;
    max-height: 70%;
  }
  header h1 {
    font-size: 1.5em;
    padding-top: 1.5px;
  }
}

@media screen and (max-width: 531px) {
  #card-wrapper {
    width: 90%;
    max-height: 45%;
  }
  .reset {
    margin-left: 25px;
  }
}

@media screen and (max-width: 450px) {
  #card-wrapper {
    width: 100%;
    max-height: 38%;
  }
  header h1 {
    font-size: 1em;
    padding-top: 12px;
  }
}

/* card wrapper ends */

/* card starts here */

.card {
  min-height: 25px;
  color: #fff;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(34, 34, 238, 0.6);
  -webkit-box-shadow: 0.4px 6px 3px rgba(0, 0, 0, 0.45);
  box-shadow: 0.4px 6px 3px rgba(0, 0, 0, 0.45);
  border-radius: 12px;
  cursor: pointer;
}

.flip {
  -webkit-animation: show 0.3s forwards ease-in;
  animation: flipCard 0.3s forwards ease-in;
  pointer-events: none;
  cursor: default;
}

.match {
  pointer-events: none;
  cursor: default;
  background-color: #0f2697;
  font-size: 230%;
  -webkit-animation: same 0.25s 2.15;
  animation: doesMatch 0.25s 2.15;
}

.not-match {
  -webkit-animation: not-same 0.25s 2.15;
  animation: doesNotMatch 0.25s 2.15 forwards;
}


@-webkit-keyframes doesMatch {
  0% {
    -webkit-transform: skew(10deg, 15deg);
    transform: skew(10deg, 15deg);
    -webkit-transform: translateX(-0.1in);
    transform: translateX(-0.1in);
  }
  50% {
    -webkit-transform: skew(-10deg, -10deg);
    transform: skew(-10deg, -10deg);
    -webkit-transform: translateX(0.1in);
    transform: translateX(0.1in);
  }
  100% {
    -webkit-transform: skew(0, 0);
    transform: skew(0, 0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}


@keyframes doesMatch {
  0% {
    -webkit-transform: skew(10deg, 15deg);
    transform: skew(10deg, 15deg);
    -webkit-transform: translateX(-0.1in);
    transform: translateX(-0.1in);
  }
  50% {
    -webkit-transform: skew(-10deg, -10deg);
    transform: skew(-10deg, -10deg);
    -webkit-transform: translateX(0.1in);
    transform: translateX(0.1in);
  }
  100% {
    -webkit-transform: skew(0, 0);
    transform: skew(0, 0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes flipCard {
  0% {
    font-size: 0;
    background-color: #0d33f1;
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  50% {
    font-size: 0;
    background-color: #0d33f1;
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  to {
    font-size: 230%;
    background-color: #0d33f1;
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
}

@keyframes flipCard {
  0% {
    font-size: 0;
    background-color: #0d33f1;
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  50% {
    font-size: 0;
    background-color: #0d33f1;
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  to {
    font-size: 230%;
    background-color: #0d33f1;
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
}

@-webkit-keyframes doesNotMatch {
  from {
    background-color: rgb(167, 19, 5);
    font-size: 230%;
    -webkit-transform: translateY(-0.1in);
    transform: translateY(-0.1in);
  }
  to {
    font-size: 230%;
    background-color: rgb(167, 19, 5);
    -webkit-transform: translateY(0.1in);
    transform: translateY(0.1in);
  }
}

@keyframes doesNotMatch {
  from {
    background-color: rgb(167, 19, 5);
    font-size: 230%;
    -webkit-transform: translateY(-0.1in);
    transform: translateY(-0.1in);
  }
  to {
    font-size: 230%;
    background-color: rgb(167, 19, 5);
    -webkit-transform: translateY(0.1in);
    transform: translateY(0.1in);
  }
}

/*card ends here */

/* styles for Modal Popup starts here */

.modal {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
}

.modal-hide {
  display: none;
}

.modal-container {
  position: relative;
  width: 50%;
  min-width: 300px;
  margin: 10% auto;
  background-color: #f4f4f4;
  -webkit-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.45), 0 8px 15px rgba(0, 0, 0, 0.25);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.45), 0 8px 15px rgba(0, 0, 0, 0.25);
  -webkit-animation: fadein 0.9s ease;
  animation: fadein 0.9s ease;
}

@-webkit-keyframes fadein {
  0% {
    top: -300px;
    -webkit-transform: scale(0.89);
    transform: scale(0.89);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0.89;
  }
  100% {
    top: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    top: -300px;
    -webkit-transform: scale(0.89);
    transform: scale(0.89);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0.89;
  }
  100% {
    top: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #324bce;
  height: 20%;
  color: #fff;
  padding: 0 10px 0 18px;
}

.closeBtn a {
  color: #fff;
  font-size: 2em;
  font-weight: bolder;
  text-decoration: none;
}

.closeBtn a:hover,
.closeBtn a:focus,
.closeBtn a:target {
  color: #000;
  cursor: pointer;
  outline: none;
}

.modal-content p {
  padding: 0 18px;
}

.modal-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.modal-play-btn,
.modal-doc-btn {
  width: 49.89%;
  background-color: #324bce;
  color: #fff;
  padding: 0.95em 0;
  border: 0;
  font-size: 1.2em;
  height: 20%;
  outline: none;
  cursor: pointer;
}

.modal-play-btn:hover,
.modal-doc-btn:hover {
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.45), 0 1px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.45), 0 1px 2px rgba(0, 0, 0, 0.25);
  color: #2bfce3;
  -webkit-transition: 0.45s background-color;
  transition: 0.45s background-color;
}



#summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  width: 45%;
  height: 25%;
  text-align: center;
  margin: 3px auto;
  font-size: 1.5em;
  border-radius: 12%;
  background: radial-gradient(closest-side, #baefda, #faeb) no-repeat center;
  padding: 9px 0;
  -webkit-box-shadow: 2.5px 3px 5.5px rgba(0, 0, 0, 0.5);
  box-shadow: 2.5px 3px 5.5px rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(3.4deg);
  transform: rotate(3.4deg);
}

/* 2px -3px 4px rgba(0, 0, 0, 0.25), 2px 4px 4px rgba(0, 0, 0, 0.25), */

#totalTimeContainer,
#totalMoves {
  color: rebeccapurple;
  font-weight: bold;
}

#totalTimeContainer {
  font-family: 'Orbitron', sans-serif;
  ;
}

#remainingStars {
  color: gray;
}

/* styles for Modal Popup ends here */
